@import '../abstract/variaveis';



//header da pagina 
#header-basket{
    background: $cor-base;
    height: 136px;
    width: 100%;
    display: inline-flex;

    //imagem e botao voltar
    #header-img{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            text-align: center;
            font-family: $fonte;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: #000000;
            border: none;
            border-radius: 15px; 
            img{
                width: 8%;
            }
        }
    }
}


//imagem do produto

#imgtumb{
    background: $cor-base;
    display: flex;
    justify-content: center;
    img{
        width: 50%;
        margin: 5%;
    }
}

//nome do produto
#text-h1{
    margin: 5%;
    h1{
        font-family: $fonte;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.01em;
        color: #27214D;
    }
}


//div botao add e remover e preço do produto
#numb{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;


    //botao add e remover
    #add-remove{
        display: contents;
        h1{
            font-family: $fonte;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;
            display: flex;
            align-items: flex-end;
            letter-spacing: -0.01em;
            color: #27214D;
        }
    }


    //preço do produto
    #price-prod{
        h1{
            font-family: $fonte;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            display: flex;
            align-items: flex-end;
            letter-spacing: -0.01em;
            color: #27214D;
        }
    }
}

//conteudo do produto titulo
#contains{
    margin: 7%;
    h1{
    font-family: $fonte;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #27214D;
    text-decoration: underline $cor-base;
    text-underline-offset: 7px;
    }
}


//conteudo do produto
#prod-cotains{
    margin: 3%;
    h3{
        font-family: $fonte;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: #27214D;
    }
}

//descricao da salada
#desc-salad{
    margin-top: 4%;
    margin-left: 8%;
    h4{
        font-family: $fonte;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: #000000; 
    }
}



//imagem e botao adiconar ao carrinho
#addtobasket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;
    width: 100%;

    //imagem favoritar
    #favorite{
        margin-left: 10%;
    }

    //botao adicionar carrinho

    #buttonbasket{
        margin-right: 10%;
        a{
            text-decoration: none;
            button{
                align-items: center;
                display: flex;
                border: none;
                border-radius: 10px;
                padding: 15px 15px 15px 15px;
                background: $cor-base;
                color: $cor-texto;
            }
        }
    }
}